<header fxLayout="column">
  <div fxFlex fxLayout="row" fxLayoutAlign="center center">
    <div class="spacer" fxFlex fxHide.lt-sm="true"></div>
  <img id="logo" fxFlex src="https://firebasestorage.googleapis.com/v0/b/iame-e84f9.appspot.com/o/logo%2Flogo.png?alt=media&token=cc57b534-3083-4407-9eff-64443d0c1e53" alt="logo da IAME" fxFlex.gt-sm="10%" fxFlex="50%">
  </div>
  <mat-divider></mat-divider>
<nav fxFlex fxLayout="row" fxHide.lt-sm="true">
  <a mat-button *ngFor="let navigationButton of navigationButtons"  [href]="navigationButton.destination" >
    <mat-icon>{{navigationButton.icon}}</mat-icon> {{navigationButton.title}}</a> 
</nav>
<button mat-fa [matMenuTriggerFor]="belowMenu" fxHide.gt-xs="true">Below</button>
<mat-menu #belowMenu="matMenu" yPosition="below">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>
</header>