<app-header></app-header>
<fb-page href="https://facebook.com/institutoamebr"></fb-page>
<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center">
  <app-carousel fxFlex="54%"></app-carousel>
</div>
<div fxLayout.lt-sm="column" fxLayout="row" fxLayoutAlign="center center">
  <app-donate-card fxFlex fxFlex.gt-sm="30%"></app-donate-card>
  <app-rounded-card fxFlex fxFlex.gt-sm="30%"></app-rounded-card>
</div>
<app-card-line></app-card-line>
<app-input-name></app-input-name>

<p>here</p>



<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Finstitutoamebr%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=368465279905332" width="100%" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>